.txtcenter {
    text-align: center;
}

.tablette, .desktop, .desktopG {
    display: none;
}

.conteneur {
    max-width: 970px;
    margin: 0 auto;
}

img {
    width: 100%;
    padding: 10px;
}

@media screen and (min-width: 768px) {

    .telephone {
        display: none;
    }

    .tablette {
        display: block;
    }

    .divImg {
        display: inline-block;
        width: 50%;
    }
}

@media screen and (min-width: 970px) {

    .tablette {
        display: none;
    }

    .desktop {
        display: block;
    }

}

@media screen and (min-width: 1370px) {

    .desktop {
        display: none;
    }

    .desktopG {
        display: block;
    }

    .conteneur {
        max-width: 1370px;
    }

    .divImg {
        width: 25%;
    }
}