
/* Version téléphone à 320px : */
img{
    width:100%;
    height:auto;
}

#fond-blanc{

    background-color:white;
}

.block{
    backgrou-color:white;

}
#fond-noir {
    background-color:black;
}
h1 {
    text-align:center;
}

h2 {
    text-align: center;
}
/* cacher les titres non adapté : */

.desktopG{
    display: none;
}

.desktop{
    display:none;
}

.tablette {
    display:none;
}


/* Version tablette :  */

@media screen and (min-width: 768px){

    .telephone{
        display:none;
    }


    .tablette {
        display:initial;

    }

    h2{
        text-align: center;

    }

    #img1{
        width:383px;
        display:inline-block;
    }

    #img2 {
        width:383px;
        display:inline-block;
    }

    #img3{
        width:383px;
        display:inline-block;
    }

    #img4{
        width:383px;
        display:inline-block;
    }


}

/* Version Desktop > 970px */

@media screen and (min-width: 970px){


    .desktop{
        display:initial;

    }

    h2{
        text-align:center;
    }

    .tablette {
        display:none;

    }


}




